swagger: '3.0'

info:
  title: Pure1 Public REST API
  version: '1.latest'
  x-logo:
    url:
      $ref: ../redoc/PS-LogoBase64-P1.txt
    backgroundColor: '#fff'
    altText: Pure Storage logo
  description: "Pure1 Public REST API, developed by [Pure Storage, Inc.](https://www.purestorage.com)\n
    \nThe Pure1 REST API 1.latest offers one single form of authentication: OAuth 2.0 via
    the [Token Exchange protocol](https://datatracker.ietf.org/doc/draft-ietf-oauth-token-exchange).\n
    \nOAuth 2.0 is an open protocol to allow secure authorization in a simple and
    standard method from web, mobile, desktop and background applications.\n\nNote
    that the [Authentication](#section/Authentication) section below mentions 'API
    Key' as the security scheme type. This is solely for the purpose of allowing testing
    this API with [Swagger UI](https://static.pure1.purestorage.com/api-swagger/index.html).\n
    \n[Knowledge base reference documentation](https://support.purestorage.com/Pure1/Pure1_Manage/Pure1_Manage_-_REST_API/Pure1_Manage_-_REST_API__Reference)"
host: api.pure1.purestorage.com
schemes:
- https

consumes:
- application/json

produces:
- application/json

securityDefinitions:
  AuthorizationHeader:
    type: apiKey
    in: header
    name: Authorization

security:
- AuthorizationHeader: []

tags:
- name: Authorization
  description: >-
    Handles authorization access to other API endpoints through OAuth 2.0 Token Exchange.
- name: Alerts
  description: >-
    Provides access to capacity, health, and hardware related array alerts.
- name: Arrays
  description: >-
    Provides information about FlashArray and FlashBlade appliances.
- name: Audits
  description: >-
    Provides access to CLI audit logs from FlashArray and FlashBlade appliances.
- name: Blades
  description: >-
    Provides information about FlashBlade blades.
- name: Buckets
  description: >-
    Provides information about FlashBlade buckets.
- name: Bucket Replica Links
  description: >-
    Provides information about replica links between buckets.
- name: Controllers
  description: >-
    Provides information about FlashArray controllers.
- name: Directories
  description: >-
    Provides information about FlashArray directories.
- name: Drives
  description: >-
    Provides information about FlashArray drives.
- name: File Systems
  description: >-
    Provides information about FlashArray and FlashBlade file systems.
- name: File System Replica Links
  description: >-
    Provides information about replica links between FlashBlade file systems.
- name: File System Snapshots
  description: >-
    Provides information about FlashBlade file system snapshots.
- name: Hardware
  description: >-
    Provides information about hardware components.
- name: Hardware Connectors
  description: >-
    Provides information about FlashBlade hardware connectors.
- name: Invoices
  description: >-
    Provides information about Pure1 subscription invoices.
- name: Metrics
  description: >-
    Provides information about historical metrics for arrays, volumes,
    file systems and pods.
- name: Network Interfaces
  description: >-
    Provides information about network interfaces available on arrays.
- name: Object Store Accounts
  description: >-
    Provides information about object store accounts.
- name: Pods
  description: >-
    Provides information about FlashArray pods. A pod is the pairing
    of two arrays that replicate some volumes with each other.
- name: Pod Replica Links
  description: >-
    Provides information about replica links between FlashArray pods.
- name: Policies
  description: >-
    Provides information about FlashBlade policies and the members
    they apply to.
- name: Ports
  description: >-
    Provides information about FlashArray ports.
- name: Subscriptions
  description: >-
    Provides information about Pure1 subscription offerings.
- name: Sustainability
  description: >-
    Provides information about energy consumption and sustainability.
- name: Targets
  description: >-
    Provides information about FlashBlade external replication targets.
- name: Volumes
  description: >-
    Provides information about block storage volumes on FlashArray arrays.
- name: Volume Snapshots
  description: >-
    Provides information about snapshots of block storage volumes
    on FlashArray arrays.

paths:
  /oauth2/1.0/token:
    post:
      consumes:
      - application/x-www-form-urlencoded

      summary: Get access token
      description: >
        Exchanges an ID Token for an OAuth 2.0 access token.

      parameters:
      - name: grant_type
        in: formData
        description: >-
          The method by which the access token will be obtained.
          The Pure Storage REST API supports the OAuth 2.0 "token exchange" grant
          type,
          which indicates that a token exchange is being performed.
          Set `grant_type` to `urn:ietf:params:oauth:grant-type:token-exchange`.
        type: string
        required: true
        default: urn:ietf:params:oauth:grant-type:token-exchange
      - name: subject_token
        in: formData
        type: string
        description: >-
          An encoded security ID Token representing the identity of the party on behalf
          of
          whom the request is being made. The token must be issued by a trusted
          identity provider which must be either a registered application in Pure1
          or an enabled API client on the array. The token must be a JSON Web Token
          and must contain the following claims:

          > | JWT claim | Location | API Client Field | Description | Required By
          |

          > |-|-|-|-|-|

          > | kid | Header | key_id | Key ID of the API client that issues the identity
          token. | FlashArray
          and FlashBlade only. |

          > | aud | Payload | id | Client ID of the API client that issues the identity
          token. | FlashArray
          and FlashBlade only. |

          > | sub | Payload | | Login name of the array user for whom the token should
          be issued.
          This must be a valid user in the system. | FlashArray and FlashBlade only.
          |

          > | iss | Payload | issuer | Application ID for the Pure1 or API client's
          trusted identity
          issuer on the array. | All products. |

          > | iat | Payload | | Timestamp of when the identity token was issued.
          Measured in milliseconds since the UNIX epoch. | All products. |

          > | exp | Payload | | Timestamp of when the identity token will expire.
          Measured in milliseconds since the UNIX epoch. | All products. |


          Each token must also be signed with the private key that is paired with
          the
          API client's public key.
        required: true
      - name: subject_token_type
        in: formData
        description: >-
          An identifier that indicates the type of security token specifed in the
          `subject_token` parameter.
          The Pure Storage REST API supports the JSON Web Token (JWT)
          as the means for requesting the access token.
          Set `subject_token_type` to `urn:ietf:params:oauth:token-type:jwt`.
        type: string
        required: true
        default: urn:ietf:params:oauth:token-type:jwt
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      responses:
        200:
          description: OK
          type: object
          schema:
            type: object
            title: oauth_token_response
            properties:
              access_token:
                description: >-
                  The serialized OAuth 2.0 Bearer token used to perform authenticated
                  requests.
                  The access token must be added to the Authorization header of all
                  API calls.
                type: string
                example: 
                  eyJraWQiOiJqTlBzL1Ria2c4U2Vua3F3ZmkvbnI4bWxxQ3NPIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYifQ.eyJhdWQiOiI5NDcyMTkwOC1mNzkyLTcxMmUtYTYzOS0wODM5ZmE4MzA5MjIiLCJzdWIiOiJqb2UiLCJyb2xlIjoic3RvcmFnZV9hZG1pbiIsImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3Q6OTAwMCIsImlhdCI6MTU0NDAzNjA1MiwiZXhwIjoxNTQ0MDcyMDUyLCJqdGkiOiJjOTg0MjgyNS1mNGM3LTRiNGUtODdkNy03OWFiZmIxYTUzNDgifQ.pnuYAx0CkmkIG0LDrMAQGRr5Ci4-t5yMto3A7BkmyKnAVHBXG5ZIWwvNkWDLhqbA4YjmG7LZmWHrCVehLy2zy2vRLahFURsd3GTnOaWSyWFIyrwpoO81jQRtOQATtseweuMT_-C8o3oa4MgBNBsuKrhwKQS3oDDpeRPaCRTGev1_xRDxh_K6CWJBTAeOP2pcR4LW6zIJkCLzzkMuyL4aTJWWUjSbl04mcFbyw8r8W1GURrmaDVOvvpT634Hk9-GGh9OMIRlS6OOq7cJKc-RRWn18IK2Gs53V_KYshXTBbnRr990Y_qOX8MaTWOJTqgzsojY02MSVuJ9XDJWoIU3TQytr4K1vM2EvwDZDgl7LuUYUn7vWhbKktFzpeZyyhOjq3eX-ViugYKpIjBcG2f_-fcTPceEWGV82rd6TyVNB5A-v9u2kxCdW198t_kesgVQfuupDeS02cZe0ABLCzEHPiVF17JfiVr6sjkciioxN7Wj_j18ga4U0mdSukauT8yhbgCW1ijTVTFu1VwWebW0s8z3BWMtXdTtZ3BhcZVAdKRF8bOq7nfEbUQGhTn9g7dK-yF050winjtp-VTL2oUtkF5j1v_N8vPNiN9ZdkGJZr7VVZ-qeOJZcjdaRbxL6YB__yT1wkTcKPh8RHz6GUq7Jbyw8VIlcBE2nvJ63d0tH9C4
              issued_token_type:
                description: >-
                  The type of token that is issued.
                  The Pure Storage REST API supports OAuth 2.0 access tokens.
                type: string
                example: urn:ietf:params:oauth:token-type:access_token
              token_type:
                description: >-
                  Indicates how the API client can use the access token issued.
                  The Pure Storage REST API supports the `Bearer` token.
                type: string
                example: Bearer
              expires_in:
                description: >-
                  The duration after which the access token will expire.
                  Measured in seconds. This differs from other duration
                  fields that are expressed in milliseconds.
                type: integer
                format: uint32
                example: 35999
        400:
          description: BAD REQUEST
          type: object
          schema:
            type: object
            properties:
              error:
                type: string
                example: invalid_request
              error_description:
                type: string
                example: 'Unsupported subject_token_type: urn:ietf:params:oauth:token-'
        401:
          description: UNAUTHORIZED
          type: object
          schema:
            type: object
            properties:
              error:
                type: string
                example: invalid_client
              error_description:
                type: string
                example: 'Invalid identity: JWT validation failed.'
      security: []

      tags:
      - Authorization
  /api/1.latest/alerts:
    get:
      summary: Get alerts
      description: >
        Retrieves information about alerts generated by Pure1-monitored appliances.
      parameters:
      - name: Authorization
        in: header
        description: >-
          Access token (in JWT format) required to use any API endpoint (except `/oauth2`)
        type: string
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      - name: continuation_token
        in: query
        description: >-
          An opaque token used to iterate over a collection.
          The token to use on the next request is returned in the
          `continuation_token` field of the result.
          Single quotes are required around all strings.
        x-quoted: true
        type: string
      - name: filter
        in: query
        description: >-
          Exclude resources that don't match the specified criteria.
          Single quotes are required around all strings inside the filters.
        type: string
      - name: ids
        in: query
        description: >-
          A comma-separated list of resource IDs.
          If there is not at least one resource that matches each `id` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: limit
        in: query
        description: >-
          Limit the size of the response to the specified number of resources.
          A limit of 0 can be used to get the number of resources without getting
          all of the resources. It will be returned in the total_item_count field.
          If a client asks for a page size larger than the maximum number, the request
          is still valid. In that case the server just returns the maximum number
          of
          items, disregarding the client's page size request. If not specified, defaults
          to 1000.
        type: integer
        format: int32
      - name: names
        in: query
        description: >-
          A comma-separated list of resource names.
          If there is not at least one resource that matches each `name` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: offset
        in: query
        description: >-
          The offset of the first resource to return from a collection.
        type: integer
        format: int32
        minimum: 0
      - name: sort
        in: query
        description: >-
          Sort the response by the specified fields (in descending order if '-'
          is appended to the field name).
          If you provide a sort you will not get a continuation token in
          the response.
        type: array
        collectionFormat: csv
        items:
          type: string
          pattern: ^[a-z]+(_[a-z]+)*-?
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
                description: Supplied by client during request or generated by server.
                schema:
                  type: string
            X-RateLimit-Limit-minute:
                description: The number of requests available per minute.
                schema:
                  type: integer
            X-RateLimit-Limit-second:
                description: The number of requests available per second.
                schema:
                  type: integer
            X-RateLimit-Remaining-minute:
                description: >-
                  The number of requests remaining for the organization in that minute.
                schema:
                  type: integer
            X-RateLimit-Remaining-second:
                description: >-
                  The number of requests remaining for the organization in that second.
                schema:
                  type: integer
          schema:
            allOf:
            - type: object
              properties:
                continuation_token:
                  type: string
                  description: >-
                    Continuation token that can be provided in the continuation_token
                    query param to get the next page of data.
                    If you use the continuation token to page through data you
                    are guaranteed to get all items exactly once regardless of
                    how items are modified. If an item is added or deleted during
                    the pagination then it may or may not be returned.
                    The continuation token is generated if the limit is less
                    than the remaining number of items, and the default sort is used
                    (no sort is specified).
                  example: MThkMzJmYWUtZDI3OS00ODEzLWIzODYtMmM3NmFhMTMwM2My
                total_item_count:
                  type: integer
                  format: int32
                  description: Total number of items after applying filter params.
                  example: 1
            - type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/definitions/Alert'
        400:
          description: BAD REQUEST
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        403:
          description: FORBIDDEN
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
        404:
          description: NOT FOUND
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        429:
          description: TOO MANY REQUESTS
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        500:
          description: INTERNAL SERVER ERROR
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
      tags:
      - Alerts
  /api/1.latest/arrays:
    get:
      summary: Get arrays
      description: >
        Retrieves information about FlashArray and FlashBlade storage appliances.
      parameters:
      - name: Authorization
        in: header
        description: >-
          Access token (in JWT format) required to use any API endpoint (except `/oauth2`)
        type: string
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      - name: continuation_token
        in: query
        description: >-
          An opaque token used to iterate over a collection.
          The token to use on the next request is returned in the
          `continuation_token` field of the result.
          Single quotes are required around all strings.
        x-quoted: true
        type: string
      - name: filter
        in: query
        description: >-
          Exclude resources that don't match the specified criteria.
          Single quotes are required around all strings inside the filters.
        type: string
      - name: fqdns
        in: query
        description: >-
          A comma-separated list of resource FQDNs.
          If there is not at least one resource that matches each `fqdn` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: ids
        in: query
        description: >-
          A comma-separated list of resource IDs.
          If there is not at least one resource that matches each `id` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: limit
        in: query
        description: >-
          Limit the size of the response to the specified number of resources.
          A limit of 0 can be used to get the number of resources without getting
          all of the resources. It will be returned in the total_item_count field.
          If a client asks for a page size larger than the maximum number, the request
          is still valid. In that case the server just returns the maximum number
          of
          items, disregarding the client's page size request. If not specified, defaults
          to 1000.
        type: integer
        format: int32
      - name: names
        in: query
        description: >-
          A comma-separated list of resource names.
          If there is not at least one resource that matches each `name` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: offset
        in: query
        description: >-
          The offset of the first resource to return from a collection.
        type: integer
        format: int32
        minimum: 0
      - name: sort
        in: query
        description: >-
          Sort the response by the specified fields (in descending order if '-'
          is appended to the field name).
          If you provide a sort you will not get a continuation token in
          the response.
        type: array
        collectionFormat: csv
        items:
          type: string
          pattern: ^[a-z]+(_[a-z]+)*-?
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
                description: Supplied by client during request or generated by server.
                schema:
                  type: string
            X-RateLimit-Limit-minute:
                description: The number of requests available per minute.
                schema:
                  type: integer
            X-RateLimit-Limit-second:
                description: The number of requests available per second.
                schema:
                  type: integer
            X-RateLimit-Remaining-minute:
                description: >-
                  The number of requests remaining for the organization in that minute.
                schema:
                  type: integer
            X-RateLimit-Remaining-second:
                description: >-
                  The number of requests remaining for the organization in that second.
                schema:
                  type: integer
          schema:
            allOf:
            - type: object
              properties:
                continuation_token:
                  type: string
                  description: >-
                    Continuation token that can be provided in the continuation_token
                    query param to get the next page of data.
                    If you use the continuation token to page through data you
                    are guaranteed to get all items exactly once regardless of
                    how items are modified. If an item is added or deleted during
                    the pagination then it may or may not be returned.
                    The continuation token is generated if the limit is less
                    than the remaining number of items, and the default sort is used
                    (no sort is specified).
                  example: MThkMzJmYWUtZDI3OS00ODEzLWIzODYtMmM3NmFhMTMwM2My
                total_item_count:
                  type: integer
                  format: int32
                  description: Total number of items after applying filter params.
                  example: 1
            - type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/definitions/Array'
        400:
          description: BAD REQUEST
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        403:
          description: FORBIDDEN
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
        404:
          description: NOT FOUND
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        429:
          description: TOO MANY REQUESTS
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        500:
          description: INTERNAL SERVER ERROR
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
      tags:
      - Arrays
  /api/1.latest/arrays/support-contracts:
    get:
      summary: Get array support contracts
      description: >
        Retrieves the support contracts associated with arrays.
      parameters:
      - name: Authorization
        in: header
        description: >-
          Access token (in JWT format) required to use any API endpoint (except `/oauth2`)
        type: string
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      - name: continuation_token
        in: query
        description: >-
          An opaque token used to iterate over a collection.
          The token to use on the next request is returned in the
          `continuation_token` field of the result.
          Single quotes are required around all strings.
        x-quoted: true
        type: string
      - name: filter
        in: query
        description: >-
          Exclude resources that don't match the specified criteria.
          Single quotes are required around all strings inside the filters.
        type: string
      - name: limit
        in: query
        description: >-
          Limit the size of the response to the specified number of resources.
          A limit of 0 can be used to get the number of resources without getting
          all of the resources. It will be returned in the total_item_count field.
          If a client asks for a page size larger than the maximum number, the request
          is still valid. In that case the server just returns the maximum number
          of
          items, disregarding the client's page size request. If not specified, defaults
          to 1000.
        type: integer
        format: int32
      - name: offset
        in: query
        description: >-
          The offset of the first resource to return from a collection.
        type: integer
        format: int32
        minimum: 0
      - name: resource_ids
        in: query
        description: >-
          A comma-separated list of resource IDs.
          If there is not at least one resource that matches each `resource_id` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: resource_fqdns
        in: query
        description: >-
          A comma-separated list of resource FQDNs.
          If there is not at least one resource that matches each `resource_fqdn`
          element, an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: resource_names
        in: query
        description: >-
          A comma-separated list of resource names.
          If there is not at least one resource that matches each `resource_name`
          element, an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: sort
        in: query
        description: >-
          Sort the response by the specified fields (in descending order if '-'
          is appended to the field name).
          If you provide a sort you will not get a continuation token in
          the response.
        type: array
        collectionFormat: csv
        items:
          type: string
          pattern: ^[a-z]+(_[a-z]+)*-?
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
                description: Supplied by client during request or generated by server.
                schema:
                  type: string
            X-RateLimit-Limit-minute:
                description: The number of requests available per minute.
                schema:
                  type: integer
            X-RateLimit-Limit-second:
                description: The number of requests available per second.
                schema:
                  type: integer
            X-RateLimit-Remaining-minute:
                description: >-
                  The number of requests remaining for the organization in that minute.
                schema:
                  type: integer
            X-RateLimit-Remaining-second:
                description: >-
                  The number of requests remaining for the organization in that second.
                schema:
                  type: integer
          schema:
            allOf:
            - type: object
              properties:
                continuation_token:
                  type: string
                  description: >-
                    Continuation token that can be provided in the continuation_token
                    query param to get the next page of data.
                    If you use the continuation token to page through data you
                    are guaranteed to get all items exactly once regardless of
                    how items are modified. If an item is added or deleted during
                    the pagination then it may or may not be returned.
                    The continuation token is generated if the limit is less
                    than the remaining number of items, and the default sort is used
                    (no sort is specified).
                  example: MThkMzJmYWUtZDI3OS00ODEzLWIzODYtMmM3NmFhMTMwM2My
                total_item_count:
                  type: integer
                  format: int32
                  description: Total number of items after applying filter params.
                  example: 1
            - type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/definitions/SupportContract'
        400:
          description: BAD REQUEST
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        403:
          description: FORBIDDEN
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
        404:
          description: NOT FOUND
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        429:
          description: TOO MANY REQUESTS
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        500:
          description: INTERNAL SERVER ERROR
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
      tags:
      - Arrays
  /api/1.latest/arrays/tags:
    get:
      summary: Get array tags
      description: >
        Retrieves the tags associated with specified arrays.
      parameters:
      - name: Authorization
        in: header
        description: >-
          Access token (in JWT format) required to use any API endpoint (except `/oauth2`)
        type: string
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      - name: continuation_token
        in: query
        description: >-
          An opaque token used to iterate over a collection.
          The token to use on the next request is returned in the
          `continuation_token` field of the result.
          Single quotes are required around all strings.
        x-quoted: true
        type: string
      - name: filter
        in: query
        description: >-
          Exclude resources that don't match the specified criteria.
          Single quotes are required around all strings inside the filters.
        type: string
      - name: keys
        in: query
        description: >-
          A comma-separated list of tag keys.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: limit
        in: query
        description: >-
          Limit the size of the response to the specified number of resources.
          A limit of 0 can be used to get the number of resources without getting
          all of the resources. It will be returned in the total_item_count field.
          If a client asks for a page size larger than the maximum number, the request
          is still valid. In that case the server just returns the maximum number
          of
          items, disregarding the client's page size request. If not specified, defaults
          to 1000.
        type: integer
        format: int32
      - name: namespaces
        in: query
        description: >-
          A comma-separated list of namespaces.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: offset
        in: query
        description: >-
          The offset of the first resource to return from a collection.
        type: integer
        format: int32
        minimum: 0
      - name: resource_ids
        in: query
        description: >-
          A comma-separated list of resource IDs.
          If there is not at least one resource that matches each `resource_id` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: resource_names
        in: query
        description: >-
          A comma-separated list of resource names.
          If there is not at least one resource that matches each `resource_name`
          element, an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
                description: Supplied by client during request or generated by server.
                schema:
                  type: string
            X-RateLimit-Limit-minute:
                description: The number of requests available per minute.
                schema:
                  type: integer
            X-RateLimit-Limit-second:
                description: The number of requests available per second.
                schema:
                  type: integer
            X-RateLimit-Remaining-minute:
                description: >-
                  The number of requests remaining for the organization in that minute.
                schema:
                  type: integer
            X-RateLimit-Remaining-second:
                description: >-
                  The number of requests remaining for the organization in that second.
                schema:
                  type: integer
          schema:
            allOf:
            - type: object
              properties:
                continuation_token:
                  type: string
                  description: >-
                    Continuation token that can be provided in the continuation_token
                    query param to get the next page of data.
                    If you use the continuation token to page through data you
                    are guaranteed to get all items exactly once regardless of
                    how items are modified. If an item is added or deleted during
                    the pagination then it may or may not be returned.
                    The continuation token is generated if the limit is less
                    than the remaining number of items, and the default sort is used
                    (no sort is specified).
                  example: MThkMzJmYWUtZDI3OS00ODEzLWIzODYtMmM3NmFhMTMwM2My
                total_item_count:
                  type: integer
                  format: int32
                  description: Total number of items after applying filter params.
                  example: 1
            - type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/definitions/Tag'
        400:
          description: BAD REQUEST
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        403:
          description: FORBIDDEN
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
        404:
          description: NOT FOUND
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        429:
          description: TOO MANY REQUESTS
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        500:
          description: INTERNAL SERVER ERROR
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
      tags:
      - Arrays

    delete:
      summary: Delete array tags
      description: >
        Deletes array tags from Pure1.
      parameters:
      - name: Authorization
        in: header
        description: >-
          Access token (in JWT format) required to use any API endpoint (except `/oauth2`)
        type: string
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      - name: keys
        in: query
        description: >-
          A comma-separated list of tag keys.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: namespaces
        in: query
        description: >-
          A comma-separated list of namespaces.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: resource_ids
        in: query
        description: >-
          REQUIRED: either `resource_ids` or `resource_names`.
          A comma-separated list of resource IDs.
          If there is not at least one resource that matches each `resource_id` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: resource_names
        in: query
        description: >-
          REQUIRED: either `resource_ids` or `resource_names`.
          A comma-separated list of resource names.
          If there is not at least one resource that matches each `resource_name`
          element, an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
                description: Supplied by client during request or generated by server.
                schema:
                  type: string
            X-RateLimit-Limit-minute:
                description: The number of requests available per minute.
                schema:
                  type: integer
            X-RateLimit-Limit-second:
                description: The number of requests available per second.
                schema:
                  type: integer
            X-RateLimit-Remaining-minute:
                description: >-
                  The number of requests remaining for the organization in that minute.
                schema:
                  type: integer
            X-RateLimit-Remaining-second:
                description: >-
                  The number of requests remaining for the organization in that second.
                schema:
                  type: integer
        400:
          description: BAD REQUEST
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        403:
          description: FORBIDDEN
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
        404:
          description: NOT FOUND
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        429:
          description: TOO MANY REQUESTS
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        500:
          description: INTERNAL SERVER ERROR
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
      tags:
      - Arrays
  /api/1.latest/arrays/tags/batch:
    put:
      summary: >
        Create or update array tags
      description: >
        Creates or updates array tags contextual to Pure1 only.
      parameters:
      - name: Authorization
        in: header
        description: >-
          Access token (in JWT format) required to use any API endpoint (except `/oauth2`)
        type: string
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      - name: namespaces
        in: query
        description: >-
          A comma-separated list of namespaces.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: resource_ids
        in: query
        description: >-
          REQUIRED: either `resource_ids` or `resource_names`.
          A comma-separated list of resource IDs.
          If there is not at least one resource that matches each `resource_id` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: resource_names
        in: query
        description: >-
          REQUIRED: either `resource_ids` or `resource_names`.
          A comma-separated list of resource names.
          If there is not at least one resource that matches each `resource_name`
          element, an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: tag
        in: body
        description: >-
          A list of tags to be upserted.
        required: true
        schema:
          type: array
          items:
            type: object
            properties:
              key:
                description: Key of the tag.
                type: string
                example: example_key
              value:
                description: Value of the tag.
                type: string
                example: value123
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
                description: Supplied by client during request or generated by server.
                schema:
                  type: string
            X-RateLimit-Limit-minute:
                description: The number of requests available per minute.
                schema:
                  type: integer
            X-RateLimit-Limit-second:
                description: The number of requests available per second.
                schema:
                  type: integer
            X-RateLimit-Remaining-minute:
                description: >-
                  The number of requests remaining for the organization in that minute.
                schema:
                  type: integer
            X-RateLimit-Remaining-second:
                description: >-
                  The number of requests remaining for the organization in that second.
                schema:
                  type: integer
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/definitions/Tag'
        400:
          description: BAD REQUEST
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        403:
          description: FORBIDDEN
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
        404:
          description: NOT FOUND
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        429:
          description: TOO MANY REQUESTS
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        500:
          description: INTERNAL SERVER ERROR
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
      tags:
      - Arrays
  /api/1.latest/assessment/sustainability/arrays:
    get:
      summary: Get appliance sustainability information.
      description: >-
        Retrieves information about FlashArray and FlashBlade size,
        power consumption, heat generation and its sustainability assessment.
      parameters:
      - name: Authorization
        in: header
        description: >-
          Access token (in JWT format) required to use any API endpoint (except `/oauth2`)
        type: string
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      - name: continuation_token
        in: query
        description: >-
          An opaque token used to iterate over a collection.
          The token to use on the next request is returned in the
          `continuation_token` field of the result.
          Single quotes are required around all strings.
        x-quoted: true
        type: string
      - name: filter
        in: query
        description: >-
          Exclude resources that don't match the specified criteria.
          Single quotes are required around all strings inside the filters.
        type: string
      - name: fqdns
        in: query
        description: >-
          A comma-separated list of resource FQDNs.
          If there is not at least one resource that matches each `fqdn` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: ids
        in: query
        description: >-
          A comma-separated list of resource IDs.
          If there is not at least one resource that matches each `id` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: limit
        in: query
        description: >-
          Limit the size of the response to the specified number of resources.
          A limit of 0 can be used to get the number of resources without getting
          all of the resources. It will be returned in the total_item_count field.
          If a client asks for a page size larger than the maximum number, the request
          is still valid. In that case the server just returns the maximum number
          of
          items, disregarding the client's page size request. If not specified, defaults
          to 1000.
        type: integer
        format: int32
      - name: names
        in: query
        description: >-
          A comma-separated list of resource names.
          If there is not at least one resource that matches each `name` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
        collectionFormat: csv
        items:
          type: string
      - name: offset
        in: query
        description: >-
          The offset of the first resource to return from a collection.
        type: integer
        format: int32
        minimum: 0
      - name: sort
        in: query
        description: >-
          Sort the response by the specified fields (in descending order if '-'
          is appended to the field name).
          If you provide a sort you will not get a continuation token in
          the response.
        type: array
        collectionFormat: csv
        items:
          type: string
          pattern: ^[a-z]+(_[a-z]+)*-?
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
                description: Supplied by client during request or generated by server.
                schema:
                  type: string
            X-RateLimit-Limit-minute:
                description: The number of requests available per minute.
                schema:
                  type: integer
            X-RateLimit-Limit-second:
                description: The number of requests available per second.
                schema:
                  type: integer
            X-RateLimit-Remaining-minute:
                description: >-
                  The number of requests remaining for the organization in that minute.
                schema:
                  type: integer
            X-RateLimit-Remaining-second:
                description: >-
                  The number of requests remaining for the organization in that second.
                schema:
                  type: integer
          schema:
            allOf:
            - type: object
              properties:
                continuation_token:
                  type: string
                  description: >-
                    Continuation token that can be provided in the continuation_token
                    query param to get the next page of data.
                    If you use the continuation token to page through data you
                    are guaranteed to get all items exactly once regardless of
                    how items are modified. If an item is added or deleted during
                    the pagination then it may or may not be returned.
                    The continuation token is generated if the limit is less
                    than the remaining number of items, and the default sort is used
                    (no sort is specified).
                  example: MThkMzJmYWUtZDI3OS00ODEzLWIzODYtMmM3NmFhMTMwM2My
                total_item_count:
                  type: integer
                  format: int32
                  description: Total number of items after applying filter params.
                  example: 1
            - type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/definitions/SustainabilityArray'
        400:
          description: BAD REQUEST
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        403:
          description: FORBIDDEN
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
        404:
          description: NOT FOUND
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        429:
          description: TOO MANY REQUESTS
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        500:
          description: INTERNAL SERVER ERROR
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
      tags:
      - Sustainability
  /api/1.latest/assessment/sustainability/insights/arrays:
    get:
      summary: Get appliance sustainability insights information.
      description: >-
        Retrieves information about FlashArray and FlashBlade insights
        connected to sustainability assessment.
      parameters:
      - name: Authorization
        in: header
        description: >-
          Access token (in JWT format) required to use any API endpoint (except `/oauth2`)
        type: string
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      - name: continuation_token
        in: query
        description: >-
          An opaque token used to iterate over a collection.
          The token to use on the next request is returned in the
          `continuation_token` field of the result.
          Single quotes are required around all strings.
        x-quoted: true
        type: string
      - name: filter
        in: query
        description: >-
          Exclude resources that don't match the specified criteria.
          Single quotes are required around all strings inside the filters.
        type: string
      - name: limit
        in: query
        description: >-
          Limit the size of the response to the specified number of resources.
          A limit of 0 can be used to get the number of resources without getting
          all of the resources. It will be returned in the total_item_count field.
          If a client asks for a page size larger than the maximum number, the request
          is still valid. In that case the server just returns the maximum number
          of
          items, disregarding the client's page size request. If not specified, defaults
          to 1000.
        type: integer
        format: int32
      - name: offset
        in: query
        description: >-
          The offset of the first resource to return from a collection.
        type: integer
        format: int32
        minimum: 0
      - name: sort
        in: query
        description: >-
          Sort the response by the specified fields (in descending order if '-'
          is appended to the field name).
          If you provide a sort you will not get a continuation token in
          the response.
        type: array
        collectionFormat: csv
        items:
          type: string
          pattern: ^[a-z]+(_[a-z]+)*-?
      responses:
        200:
          description: OK
          headers:
            X-Request-ID:
                description: Supplied by client during request or generated by server.
                schema:
                  type: string
            X-RateLimit-Limit-minute:
                description: The number of requests available per minute.
                schema:
                  type: integer
            X-RateLimit-Limit-second:
                description: The number of requests available per second.
                schema:
                  type: integer
            X-RateLimit-Remaining-minute:
                description: >-
                  The number of requests remaining for the organization in that minute.
                schema:
                  type: integer
            X-RateLimit-Remaining-second:
                description: >-
                  The number of requests remaining for the organization in that second.
                schema:
                  type: integer
          schema:
            allOf:
            - type: object
              properties:
                continuation_token:
                  type: string
                  description: >-
                    Continuation token that can be provided in the continuation_token
                    query param to get the next page of data.
                    If you use the continuation token to page through data you
                    are guaranteed to get all items exactly once regardless of
                    how items are modified. If an item is added or deleted during
                    the pagination then it may or may not be returned.
                    The continuation token is generated if the limit is less
                    than the remaining number of items, and the default sort is used
                    (no sort is specified).
                  example: MThkMzJmYWUtZDI3OS00ODEzLWIzODYtMmM3NmFhMTMwM2My
                total_item_count:
                  type: integer
                  format: int32
                  description: Total number of items after applying filter params.
                  example: 1
            - type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/definitions/SustainabilityInsightArray'
        400:
          description: BAD REQUEST
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        403:
          description: FORBIDDEN
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
        404:
          description: NOT FOUND
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        429:
          description: TOO MANY REQUESTS
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
        500:
          description: INTERNAL SERVER ERROR
          schema:
            type: object
            properties:
              errors:
                description: The list of errors encountered.
                type: array
                items:
                  type: object
                  properties:
                    context:
                      type: string
                      example: Error with ...
                    message:
                      type: string
                      example: Something was wrong
          headers:
            X-Request-ID:
              description: Supplied by client during request or generated by server.
              schema:
                type: string
            X-RateLimit-Limit-minute:
              description: The number of requests available per minute.
              schema:
                type: integer
            X-RateLimit-Limit-second:
              description: The number of requests available per second.
              schema:
                type: integer
            X-RateLimit-Remaining-minute:
              description: >-
                The number of requests remaining for the organization in that minute.
              schema:
                type: integer
            X-RateLimit-Remaining-second:
              description: >-
                The number of requests remaining for the organization in that second.
              schema:
                type: integer
      tags:
      - Sustainability
  /api/1.latest/audits:
    get:
      summary: Get audits
      description: >
        Retrieves audit objects.
      parameters:
      - name: Authorization
        in: header
        description: >-
          Access token (in JWT format) required to use any API endpoint (except `/oauth2`)
        type: string
      - name: X-Request-ID
        in: header
        description: >-
          Supplied by client during request or generated by server.
        type: string
      - name: continuation_token
        in: query
        description: >-
          An opaque token used to iterate over a collection.
          The token to use on the next request is returned in the
          `continuation_token` field of the result.
          Single quotes are required around all strings.
        x-quoted: true
        type: string
      - name: filter
        in: query
        description: >-
          Exclude resources that don't match the specified criteria.
          Single quotes are required around all strings inside the filters.
        type: string
      - name: ids
        in: query
        description: >-
          A comma-separated list of resource IDs.
          If there is not at least one resource that matches each `id` element,
          an error is returned.
          Single quotes are required around all strings.
        x-quoted: true
        type: array
[...]
